@import url(./header.css);
@import url(main.css);
@import url(footer.css);
@import url('https://fonts.googleapis.com/css2?family=Lexend+Giga:wght@100..900&display=swap');
/*Estilos generales*/

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 12px;
    font-family: "Lexend Giga", sans-serif;
    font-weight: 700;
}

